.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.input {
  width: 500px;
  padding: 5px 10px;
  border: 1px solid #7e22ce;
  border-radius: 6px;
  font-size: 22px;
}
.input:focus {
  outline: 1px solid #7e22ce;
}
.table {
  margin-top: 20px;
  /* width: 800px; */
}
.thead {
  background-color: #202832;
}
th {
  color: #fff;
  padding: 10px 50px;
  font-size: 23px;
}
td {
  font-size: 23px;
  padding: 10px 50px;
  text-align: center;
  background-color: #242e38;
  color: #fff;
}
